<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

      <div class="footer-col  footer-col-1">
        <ul class="social-media-list">
          <li>
            <a href="mailto:{{ site.email }}">
              <div class="svg-icon email"></div>

              <span class="username">{{ site.email }}</span>
            </a>
          </li>

          <li>
            <a href="/feed.xml">
              <div class="svg-icon rss"></div>

              <span class="username">subscribe</span>
            </a>
          </li>

          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <div class="svg-icon github"></div>

              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
